{{ define "_js"}}
    <!-- Bootstrap core JavaScript-->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/js/pace.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/assets/vendor/chart.js/Chart.min.js"></script>
    <script src="/assets/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/assets/vendor/datatables/dataTables.bootstrap4.js"></script>

    <script src="/assets/js/helpers/general.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assets/js/sb-admin.min.js"></script>
    <script src="/assets/js/custom/api.js"></script>
    <script src="/assets/js/custom/action.js"></script>
    <script src="/assets/js/custom/service-transactions.js"></script>
    <script src="/assets/js/custom/add-service-transaction.js"></script>

    <script src="/node_modules/moment/moment.js"></script>
    <script src="/node_modules/accounting/accounting.min.js"></script>
    <script src="/node_modules/select2/dist/js/select2.min.js"></script>
    <script src="/node_modules/smartwizard/dist/js/jquery.smartWizard.min.js"></script>
    <script src="/node_modules/bootstrap-validator/dist/validator.min.js"></script>
    <script src="/node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/node_modules/jquery-price-format/jquery.priceformat.min.js"></script>
{{/*    <script src="/node_modules/numeral/min/numeral.min.js"></script>*/}}

{{ end }}