{{ define "service-transactions-add" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "_header" .title }}
</head>
<body>
    {{ template "_top-navbar" }}
    <div id="wrapper">
        {{ template "_sidebar" .sidebar }}

        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Add Service Transactions</li>
                </ol>

                <div id="service-transaction-smartwizard">
                    <ul>
                        <li><a href="#step-customer">Customer<br /><small>Customer Detail</small></a></li>
                        <li><a href="#step-service-transaction">Service Transaction<br /><small>Fill Step Transaction Detail</small></a></li>
                        <li><a href="#step-preview">Preview Transaction<br /><small>Preview transaction before process</small></a></li>
                    </ul>

                    <div>
                        <div id="step-customer" class="">
                            <h3 class="border-bottom border-gray pb-2">Customer Detail</h3>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Mode</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="customer-mode">
                                        <option value="search-existing">Search Existing</option>
                                        <option value="add-new">Add New</option>
                                    </select>
                                </div>
                            </div>
                            <div id="existing-customer-container" class="d-none">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Select Customer</label>
                                    <div class="col-sm-9">
                                        <select class="form-control select2 js-states" id="existing-customer" required>
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-sm btn-info" id="btnCustomerRefresh">Refresh</button>
                                    </div>
                                </div>

                                <div class="alert alert-success d-none" id="customer-existing-alert" role="alert">
                                    <h5 class="alert-heading">Customer Found!</h5>
                                    <hr>
                                    <p class="mb-0" id="customer-existing-found">Detail found customer here</p>
                                    <input type="hidden" id="customer-existing-id" value=""/>
                                    <input type="hidden" id="customer-existing-object" value=""/>
                                </div>
                            </div>
                            <div id="new-customer-container" class="d-none">
                                <form action="#" role="form" data-toggle="validator" id="customer-form" class="needs-validation" novalidate>
                                    <div class="form-group row">
                                        <label for="customer-name" class="col-sm-2 col-form-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="customer-name" placeholder="Isikan nama customer baru" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="customer-email" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="customer-email" placeholder="Isikan email customer">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="customer-phone" class="col-sm-2 col-form-label">Phone</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="customer-phone" placeholder="Isikan nomor telepon customer" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="customer-address" class="col-sm-2 col-form-label">Address</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="customer-address" placeholder="Isikan alamat customer" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="customer-notes" class="col-sm-2 col-form-label">Notes</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="customer-notes" aria-multiline="true" placeholder="Keterangan lain"></textarea>
                                        </div>
                                    </div>
                                    <input type="hidden" id="customer-valid" value="false"/>
                                </form>
                            </div>
                        </div>
                        <div id="step-service-transaction" class="">
                            <h3 class="border-bottom border-gray pb-2">New Service Transaction</h3>
                            <div id="new-service-transaction">
                                <form id="service-transaction-form" action="#" data-toggle="validator" class="needs-validation" novalidate>
                                    <div class="form-group row">
                                        <label for="service-transaction-date" class="col-form-label col-sm-2">Service Date</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#service-transaction-date" id="service-transaction-date" placeholder="Tanggal service masuk" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="service-transaction-invoice-no" class="col-form-label col-sm-2">Invoice Number</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="service-transaction-invoice-no" placeholder="Isikan nomor invoice di sini. Contoh : 9451" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group row">
                                        <label for="service-transaction-customer" class="col-form-label col-sm-2">Customer</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="service-transaction-customer">
                                            </select>
                                        </div>
                                    </div>-->
                                    <div class="form-group row">
                                        <label for="service-transaction-item-name" class="col-form-label col-sm-2">Item Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="service-transaction-item-name" placeholder="Nama barang yang akan diservice. Contoh : Lenovo B-470" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="service-transaction-damage-type" class="col-form-label col-sm-2">Damage Type</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="service-transaction-damage-type" placeholder="Isikan jenis kerusakan. Contoh : mati" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="service-transaction-equipment" class="col-form-label col-sm-2">Equipment</label>
                                        <div class="col-sm-10">
                                            <!--<input type="text" class="form-control" id="service-transaction-equipment" placeholder="Isikan kelengkapan yang disertakan. Contoh : Tas/Softcase, Charger, Kardus, dll">-->
                                            <select class="form-control select2" id="service-transaction-equipment" name="service-transaction-equipment[]" data-placeholder="Pilih kelengkapan yang disertakan" multiple="multiple" style="width: 100%">
                                                <option value="tas-softcase">Tas / Softcase</option>
                                                <option value="charger">Charger</option>
                                                <option value="kardus">Kardus</option>
                                                <option value="kabel-power">Kabel Power</option>
                                                <option value="kabel-data">Kabel Data</option>
                                                <option value="kartu-garansi">Kartu Garansi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="service-transaction-description" class="col-form-label col-sm-2">Description</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="service-transaction-description" placeholder="Keterangan service. Contoh : Garansi 1 bulan">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="service-transaction-technician" class="col-form-label col-sm-2">Technician</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="service-transaction-technician" placeholder="Teknisi yang akan menangani">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="service-transaction-repair-type" class="col-form-label col-sm-2">Repair Type</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="service-transaction-repair-type" placeholder="Jenis service yang dilakukan. Contoh : Service mainboard, kendala di chipset dan power management">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="service-transaction-spare-part" class="col-form-label col-sm-2">Spare Part</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="service-transaction-spare-part" placeholder="Spare part yang dibutuhkan. Contoh : mainboard baru, ganti RAM, dll">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="service-transaction-price" class="col-form-label col-sm-2">Price (Rp)</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="service-transaction-price" placeholder="Harga yang ditimbulkan pada proses service" required>
                                            <div class="help-block with-errors"></div>
                                            <!--<input type="text" class="form-control" id="service-transaction-price" placeholder="Harga yang ditimbulkan pada proses service" pattern="^\Rp\d{1,3}(.\d{3})*(\,\d+)?$" data-type="currency">-->
                                        </div>
                                    </div>
                                    <!--<div class="form-group row">
                                        <label for="service-transaction-total-price" class="col-form-label col-sm-2">Total Price</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="service-transaction-total-price" placeholder="Fill total price here">
                                        </div>
                                    </div>-->
                                    <div class="form-group row">
                                        <label for="service-transaction-taken-date" class="col-form-label col-sm-2">Taken Date</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#service-transaction-taken-date" id="service-transaction-taken-date" placeholder="Perkiraan tanggal pengambilan" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <label for="service-transaction-status" class="col-form-label">Status</label>
                                        <input type="text" class="form-control" id="service-transaction-status" placeholder="Fill service status here">
                                    </div>-->

                                    <input type="hidden" id="service-transaction-id" value=""/>
                                    <input type="hidden" id="service-transaction-valid" value="false"/>
                                </form>
                            </div>

                            <div class="card mb-3" id="additional-cost-container">
                                <div class="card-header">
                                    <h5>Additional Item Cost (Spare Part, Component, etc)</h5>
                                    <span class="float-right">
                                        <a href="#" data-target="#additionalCostModal" data-toggle="modal" class="btn-sm btn-primary" id="btn_add_additional_cost">Add Additional Cost</a>
                                    </span>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="table-additional-cost" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Item Name</th>
                                                <th>Notes</th>
                                                <th>Cost</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-additional-cost-body">
                                            <tr>
                                                <td>Mainboard</td>
                                                <td>Ganti Keyboard merk Toshiba</td>
                                                <td>Rp 50.000</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="total-cost-container">
                                <h3>Total Cost : <span id="total-cost">Rp 0</span></h3>
                            </div>
                        </div>
                        <div id="step-preview" class="">
                            <h3 class="border-bottom border-gray pb-2">Preview Data Transaction</h3>
                            <div class="card text-white bg-info mb-3" style="width: 100%">
                                <div class="card-headwey" id="data-customer">
                                    <div class="row">
                                        <div class="col-2">Name</div>
                                        <div class="col-10" id="preview-customer-name">Customer Name</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Email</div>
                                        <div class="col-10" id="preview-customer-email">Customer Email</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Phone</div>
                                        <div class="col-10" id="preview-customer-phone">Customer Phone</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Address</div>
                                        <div class="col-10" id="preview-customer-address">Customer Address</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Note</div>
                                        <div class="col-10" id="preview-customer-note">Customer Note</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card text-white bg-success mb-3" style="width: 100%">
                                <div class="card-header"><h6>Service Transaction</h6></div>
                                <div class="card-body" id="data-service-transaction">
                                    <div class="row">
                                        <div class="col-2">Date</div>
                                        <div class="col-10" id="preview-service-transaction-date">Service Transaction Date</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Invoice No</div>
                                        <div class="col-10" id="preview-service-transaction-invoice-no">Service Transaction Invoice No</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Item</div>
                                        <div class="col-10" id="preview-service-transaction-item-name">Service Transaction Item Name</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Damage</div>
                                        <div class="col-10" id="preview-service-transaction-damage-type">Service Transaction Damage Type</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Equipment</div>
                                        <div class="col-10" id="preview-service-transaction-equipment">Service Transaction Equipment</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Description</div>
                                        <div class="col-10" id="preview-service-transaction-description">Service Transaction Description</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Technician</div>
                                        <div class="col-10" id="preview-service-transaction-technician">Service Transaction Technician</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Repair Type</div>
                                        <div class="col-10" id="preview-service-transaction-repair-type">Service Transaction Repair Type</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Spare Part</div>
                                        <div class="col-10" id="preview-service-transaction-spare-part">Service Transaction Spare Part</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Service Cost</div>
                                        <div class="col-10" id="preview-service-transaction-price">Service Transaction Cost</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Taken Date</div>
                                        <div class="col-10" id="preview-service-transaction-taken-date">Service Transaction Taken Date</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">Status</div>
                                        <div class="col-10" id="preview-service-transaction-status">Service Transaction Status</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card text-white bg-warning mb-3" style="width: 100%">
                                <div class="card-header"><h6>Additional Item</h6></div>
                                <div class="card-body">
                                    <ul id="preview-additional-item-list">
                                        <li>Item 1 : Rp 100.000</li>
                                        <li>Item 2 : Rp 200.000</li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <h2>Total Biaya : <span id="preview-total-cost">Total Cost</span></h2>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <a href="#" data-target="#confirmationProcessModal" data-toggle="modal" class="btn btn btn-primary" id="btnProcessTransaction">Process Transaksi</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ template "_modals" }}

    {{ template "_js" }}
    <script>
        $(function() {
            AddServiceTransactions.init();
        });
    </script>

</body>f
</html>
{{ end }}