{{ define "users" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "_header" .title}}
    </head>
    <body>
    {{ template "_top-navbar-2" }}
    <div id="wrapper">
        {{ template "_sidebar-2" .sidebar}}

        <div id="content-wrapper">
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Users Management</h1>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-10 font-weight-bold text-primary">
                        Manage Data User
                        <span class="float-right">
                            <a href="#" data-target="#userEditModal" data-toggle="modal" class="btn-sm btn-primary" id="btn_add_user">Add User</a>
                        </span>
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="table-users" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Company</th>
                                    <th>Is Active</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody class="users-data-container">
                                <tr>
                                    <td>Administrator</td>
                                    <td>admin@servicesystem.com</td>
                                    <td>085729681962</td>
                                    <td>Mitrais</td>
                                    <td>true</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr><tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr><tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>guest@servicesystem.com</td>
                                    <td>0818046788981</td>
                                    <td>Mitrais</td>
                                    <td>false</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>

            {{ template "_footer" }}
        </div>
    </div>

    {{ template "_modals" }}

    {{ template "_js" }}
    <script>
        $(function() {
            Users.init();
        });
    </script>

    </body>
    </html>
{{ end }}